.form {
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
  }
  
  .field {
    width: 250px;
    font: inherit;
    padding: 5px;
    margin-bottom: 20px;
  }

  .btn {
    width: 150px;
    height: 30px;
    font: inherit;
  }

  .label {
    margin: 0;
    padding-left: 20px;
    align-self: start;
    font: inherit;
  }
  